<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
     <!--
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">-->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}/">passing time</a>
    <a class="sidebar-nav-item{% if page.url == site.url/a_necessary_introduction %} active{% endif %}" href="{{ site.url }}/a_necessary_introduction">a necessary introduction</a>
<!--
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}-->
    <a class="sidebar-nav-item{% if page.url == /jacobroyquebec %} active{% endif %}" href="{{ site.url }}/jacobroyquebec">jacobroy.quebec</a>
    <a class="sidebar-nav-item{% if page.url == /beyondinnovations %} active{% endif %}" href="{{ site.url }}/beyondinnovations">beyond innovations</a>
    <a class="sidebar-nav-item{% if page.url == /asteroidlabs %} active{% endif %}" href="{{ site.url }}/asteroidlabs">asteroid labs</a>
    <a class="sidebar-nav-item{% if page.url == /thinkering %} active{% endif %}" href="{{ site.url }}/thinkering">thinkering</a>
  </nav>
  <div class="sidebar-item">
      <img class="nav-image" src="{{ site.url }}/public/images/me.jpg">
  </div>
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. all rights reserved.
    </p>
  </div>
</div>
